.header {
  display: -ms-flexbox;
  display: flex;
  background: #4A466F;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end; 
}

.logo {
  width: 14%;
  /*196px;*/
  padding-left: 18px;
  display: block;
  background: #4A466F;
  margin-top: 5px;
  line-height: 0; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 63%;
  /*851px;*/
  padding-left: 43px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 0; }

.menu__item {
  margin-right: 28px;
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: 0; }

.menu__link {
  line-height: 18px;
  font-size: 13px;
  font-family: opensansbold, Arial, sans-serif;
  color: #ffffff; }

.search {
  width: 23%;
  padding-right: 33px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.search__field {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 3px; }

.search__btn {
  height: 30px;
  margin-top: 5px;
  margin-left: 11px;
  background-color: #D5AE5B;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  padding-left: 26px;
  padding-right: 26px;
  cursor: pointer; }

.sections {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 102px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sections__item {
  line-height: 0;
  padding-top: 12px;
  padding-bottom: 12px; }

.sections__link {
  font-size: 12px;
  line-height: 16px;
  font-family: opensansbold, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 22px; }

.sections__link--sections {
  text-transform: lowercase;
  cursor: auto; }

.contents {
  margin-bottom: 18px;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 19px;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.contents__item {
  line-height: 0;
  padding-top: 11px;
  padding-bottom: 11px; }

.contents__link {
  font-size: 12px;
  line-height: 16px;
  font-family: opensansbold, Arial, sans-serif;
  color: #4F4F4F;
  text-transform: uppercase;
  margin-right: 30px; }

.contents__link--title {
  text-transform: lowercase;
  cursor: auto; }

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 6%;
  background-color: #E5E5E5; }

.content {
  background-color: #E5E5E5;
  min-width: 1030px;
  /* width: 960px;  */
  padding-right: 300px;
}

.ad {
  width: 312px;
  background-color: #E5E5E5; }

.breadcrumbs {
  margin-left: 10px;
  margin-right: 0;
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 33px;
  background-color: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.breadcrumbs__item {
  line-height: 0;
  padding-top: 11px;
  padding-bottom: 11px; }

.breadcrumbs__link {
  font-size: 12px;
  line-height: 16px;
  font-family: opensansbold, Arial, sans-serif;
  color: #333333;
  margin-right: 10px; }

.breadcrumbs__link--title {
  cursor: auto; }

.breadcrumbs__item::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  margin-bottom: 1px;
  vertical-align: baseline;
  border: 1px solid #333333;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(45deg); }

.breadcrumbs__item:last-child::after {
  display: none; }

.article1 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 46px;
  padding-right: 23px;
  margin-bottom: 60px; }

.article1__title {
  font-size: 20px;
  line-height: 27px;
  color: #EB5757;
  text-transform: lowercase;
  margin-bottom: 0; }

.article1__paragraph {
  font-size: 16px;
  line-height: 22px;
  font-family: opensansregular, Arial, sans-serif; }

.artcile2 {
  display: -ms-flexbox;
  display: flex;
  padding-left: 34px;
  padding-top: 44px;
  padding-bottom: 57px;
  padding-right: 30px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-bottom: 60px;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.article2__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 511px;
  padding-right: 50px; }

.article2__paragraph {
  font-size: 16px;
  line-height: 22px;
  font-family: opensansregular, Arial, sans-serif;
  margin: 0;
  padding-left: 35px; }

.article2__list {
  font-size: 16px;
  line-height: 22px;
  font-family: opensansregular, Arial, sans-serif;
  margin-top: 22px;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0; }

.artcile2__item {
  margin-bottom: 22px;
  background: url("../img/list-marker.png") no-repeat left center;
  padding-left: 35px; }

.article2__image {
  width: 375px;
  padding-top: 26px; }

.artcile3 {
  display: -ms-flexbox;
  display: flex;
  padding-left: 29px;
  padding-top: 49px;
  padding-bottom: 53px;
  padding-right: 34px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-bottom: 60px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: border-box; }

.article3__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 496px; }

.article3__list {
  font-size: 16px;
  line-height: 22px;
  font-family: opensansregular, Arial, sans-serif;
  margin-top: 22px;
  margin-bottom: 0;
  padding-left: 0;
  counter-reset: myCounter; }

.artcile3__item {
  margin-bottom: 42px;
  padding-left: 69px;
  list-style: none;
  position: relative; }

.artcile3__item:nth-child(2) {
  line-height: 45px;
  font-weight: bold; }

.artcile3__item:nth-child(2)::before {
  font-weight: normal; }

.artcile3__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #8CC152;
  font-size: 24px;
  border: solid 2px #8CC152;
  display: inline-block;
  text-align: center;
  line-height: 41px;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 5px;
  box-sizing: border-box; }

.artcile3__item:last-child {
  padding-bottom: 5px; }

.article3__image {
  width: 375px; }

.article4 {
  background-color: #ffffff;
  overflow: auto;
  padding-top: 51px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  margin-left: 10px;
  margin-bottom: 60px; }

.article4__image {
  margin-right: 32px; }

.article4__paragraph {
  margin-bottom: 22px; }

.article4__paragraph--1 {
  margin-top: 0; }

.article4__paragraph--2 {
  margin-bottom: 122px; }

.article4__video {
  float: right;
  margin-left: 34px; }

.article5 {
  background-color: #ffffff;
  overflow: auto;
  padding-top: 51px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  margin-left: 10px;
  margin-bottom: 60px; }

.article5__image {
  margin-left: 34px; }

.article5__paragraph {
  margin-bottom: 22px; }

.article5__paragraph--1 {
  margin-top: 0; }

.article5__paragraph--2 {
  margin-bottom: 122px; }

.article5__video {
  float: left;
  margin-right: 32px; }

.h2 {
  color: #4F4F4F;
  font-size: 36px;
  line-height: 49px;
  font-weight: normal;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 48px;
  margin-left: 10px;
  position: relative; }

.h2::before {
  position: absolute;
  content: "";
  height: 40px;
  border-left: solid 5px #8CC152;
  top: 50%;
  left: 33px;
  transform: translateY(-50%); }

.video1 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 90px;
  padding-bottom: 50px;
  padding-right: 90px;
  padding-top: 50px;
  margin-bottom: 60px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.video2 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.video3 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.video4 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.video4__player {
  margin-bottom: 7px; }

.photo1 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo2 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo3 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo4 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 139px;
  padding-bottom: 50px;
  padding-right: 129px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo4__img--1 {
  margin-bottom: 8px; }

.photo5 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 28px;
  padding-bottom: 50px;
  padding-right: 32px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo5__img--1 {
  margin-bottom: 8px; }

.photo6 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 28px;
  padding-bottom: 50px;
  padding-right: 32px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo6__img--1 {
  margin-bottom: 8px; }

.photo6__img--2 {
  margin-bottom: 8px; }

.photo7 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 28px;
  padding-bottom: 50px;
  padding-right: 32px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo7__img--1 {
  margin-bottom: 8px; }

.photo7__img--2 {
  margin-bottom: 8px; }

.photo7__img--3 {
  margin-bottom: 8px; }

.photo8 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 91px;
  padding-bottom: 50px;
  padding-right: 91px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.photo8__img {
  margin-bottom: 8px; }

.slider {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }

.slider__title {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -730px;
  text-shadow: 0 4px 4px #000; }

.slider__switches {
  height: 50px;
  width: 50px;
  border: 1px solid #8CC152;
  border-radius: 50px;
  position: absolute; }

.slider__switches--previews {
  background: #8CC152 url("../img/arrow-prev.png") 50% 50% no-repeat;
  left: 43px;
  bottom: 67px; }

.slider__switches--next {
  background: #8CC152 url("../img/arrow-next.png") 50% 50% no-repeat;
  left: 125px;
  bottom: 67px; }

.gallery {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-bottom: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.gallery__title {
  color: #4F4F4F;
  font-size: 28px;
  line-height: 38px;
  font-weight: normal;
  background-color: #ffffff;
  padding-left: 48px;
  margin-bottom: 34px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%; }

.gallery__title::before {
  position: absolute;
  content: "";
  height: 40px;
  border-left: solid 5px #8CC152;
  top: 50%;
  left: 33px;
  transform: translateY(-50%); }

.gallery__photos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.gallery__more {
  width: 316px;
  line-height: 39px;
  background-color: #8CC152;
  margin-top: 22px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center; }

@font-face {
  font-family: 'opensansbold';
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'opensansregular';
  src: url("../fonts/opensansregular.woff2") format("woff2"), url("../fonts/opensansregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_GothamProRegular';
  src: url("../fonts/GothamPro.eot?") format("eot"), url("../fonts/GothamPro.otf") format("opentype"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg"), url("../fonts/GothamPro.woff") format("woff"); }

@font-face {
  font-family: 'Conv_GothamProBlack';
  src: url("../fonts/GothamPro-Black.woff") format("woff"); }

@font-face {
  font-family: 'Conv_GothamProBold';
  src: url("../fonts/GothamPro-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Conv_GothamProMedium';
  src: url("../fonts/GothamPro-Medium.woff") format("woff"); }

html,
body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: opensansregular, Arial, sans-serif;
  position: relative;
  line-height: 1.3;
  -webkit-font-smoothing: antialised;
  color: #333333;
  margin: 0 auto;
  background-color: #4A466F; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

@media screen and (min-width:1200px) {
  /* .content {
    width: 100%;
    padding-right: 300px; } */
}

